/* Styles */
body {
   font-family: monospace;
   font-size: 1vmax;
   line-height: 1.5vmax;
   margin: 0.1%;
   text-align: left;
   vertical-align: top;
}
/* Table */
.table {
    display: table;
    border-collapse: collapse;
    width: 85%;
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div {
    display: table-cell;
    border:solid #000000 0.1vmax;
    vertical-align: middle;
    padding: 0.5%;
}
/* */
div[id=lack] {
    margin: 1%;
    color: #FF0000;
}
/* Formulario */
select {
    width: 100%;
}
/* Boton de compartir */
svg[id=whatsapp] {
    cursor: pointer;
    position: fixed;
    bottom: 3vmax;
    right:  3vmax;
    width:  10vmax;
    height: 6vmax;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}